/* search bar flowing on the top 
scroll horizontally like Rebecca's project */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    font-family: monospace;
    background-color:orange;
    color: white;
    height: 100vh;
    widows: 100vw;
}

/* how to make a grid https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */

.title {
    font-size: 10vw;
    display: inline-block;
    position: fixed;
}

p {
    position: top;
    text-align: center;
    margin-top: 1.5%;
    left:0;
    top:15vh;
    width: 100vw;
}

.outer-wrapper {
    position: fixed;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#pictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    position: relative;
}

/* for chrome and safari */

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100vw;
    height: 90vh;
    margin: 2vw;
    object-fit: cover;
    filter: drop-shadow(20%);
    filter: sepia(20);
}

img:hover{
    filter: sepia(0);
}

/* to crop images */

.box {
    /* position: fixed; */

    text-align: center;
    display: inline-block;
}

#textInput {
    position: fixed sticky;
    height: 10vh;
    width: 100vw;
    margin-top: 15%;
    border-style: none;
    text-align: center;
    color:orange;
    background-color: white;
    /* opacity: 40%; */
    font-size: 5vw;

}
